body{
    background-color: #cad2c5;
    font-family: Arial, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

ul{
    display:flex;
    justify-content: center;
    gap:7rem;
    background-color: #84a98c;
    height: 3rem;
    align-items: center;
}
h1{
    font-size:3rem;
}

h2{
    font-size:2rem;
}

header{
    text-align: center;
}

header > img{
    max-width: 100px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul{
    list-style:none;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav li{
    display: inline-block;
}

section{
    display:flex;
}

article{
    flex:1;
}

footer{
    display:flex;
}

footer div{
    flex:1;
}

footer div img{
    max-width: 30px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}